.item {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);

  &_trap {
    background-color: #2196F3;
    border: 1px solid rgba(33, 150, 243, 0.5);
  }

  &_food {
    background-color: #F44336;
    border: 1px solid rgba(244, 67, 54, 0.5);
  }
}
